################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SFMLNew/v15/Browse.VC.opendb
# Visual Studio 2015 cache/options directory
.vs/